header {
    display: flex;
    justify-content: flex-start;
    
}
header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
body {
    font-family: inter;
    background-color: black;
    
}
