@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
header {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;  
}
header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
header ul li{
    margin-right: 20px;
}
body {
    
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    background-color: black;
    color: azure;
    display: flex;
    flex-direction: column;
    /*font-size: large;*/
}
.ne{
    /*position: absolute;*/
    margin: auto;
    margin-top: 3%;
    background-color: aliceblue;
    width: 92%;
    height: 92%;
    color:black;
    display: flex;
    align-items: center;  
    justify-content: space-around;
    border-radius: 10px;
}
.ne img{
   max-width:512px;
}

.ne1 button{
    background-color: red;
    color: white;
    font-size: 32px;
    border-radius:10px;
}
header img{
    width: 64px;
    margin-left: 2%;
}
.dl{
    margin: auto;
    margin-top: 3%;
    padding: 10px;
    display: flex;
    border: 1px solid white;
    border-radius: 10px;
    justify-content: space-around;
    font-size: 32px;
    width: 92%;
}
.chto{
    display: flex;
    flex-direction: column;
}
.chto1, .chto2{
    justify-content: space-around;
}
.chto img{
    width: 9%;
}